@model ICollection<Wallet>

@{ 
    int i = 0;
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;
}

<div class="container-fluid">
    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="ik ik-plus-circle bg-dark"></i>
                    <div class="d-inline">
                        <h5> Wallet (GCH)</h5>
                        <span>Gravity Cash Wallet</span>
                    </div>
                </div>
                <br />
                <div>
                    <a id="pvPress" href="#" class="btn btn-warning"><i class="ik ik-plus-circle"></i> Create Address Using Private Key</a>

                    <form class="forms-sample" method="post" action="/Wallet/Import" style="display:none">
                        <input type="hidden" name="userId" value="@userId" />
                        <div class="input-group col-xs-12">

                            <input type="text" class="form-control" placeholder="Import Wallet Using Private Key" name="privateKey">
                            <span class="input-group-append">
                                <input type="submit" class="file-upload-browse btn btn-primary" value="Import">
                            </span>
                        </div>
                    </form>
                </div>
                @*<form method="post" action="" class="">
                
                <input type="text" name="privateKey" placeholder="" />
                <input type="submit" style="display:none" />
            </form>*@
            </div>
            <div class="col-lg-4">
                
                <nav class="breadcrumb-container" aria-label="breadcrumb">
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item">

                            <a href="/Wallet/Create?userId=@userId" class="btn btn-primary"><i class="ik ik-plus-circle"></i> Create Address</a>
                        </li>
                        
                    </ol>
                </nav>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-block">
                    <h3>GCH Address List</h3>

                </div>
                <div class="card-body p-0 table-border-style">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Wallet Address</th>

                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    i++;

                                    <tr>
                                        <th scope="row">@i</th>
                                        <td>@item.PublicKey</td>
                                        <td>@item.CreationDate.ToLocalTime()</td>
                                        <td class="totalCoin" key="@item.PublicKey"></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



<script type="text/javascript">


    $(function () {
        $('.totalCoin').each(async function (i, obj) {
            //test
            var $this = $(this);
            var addr = $this.attr('key');
            var val = await contract.balanceOf(addr);
            //alert(val)
            //var r = val.toHexString();
            val = parseInt(val.toString()) / 10 ** 18;
            $this.html(val);
        });

        $('#pvPress').on('click', function () {
            $this = $(this);
            $this.hide();
            $this.closest('div').find('form').attr('style', '');
        })
    })

    var v = '@TempData["msg"]';
    if (v != '') {
        alert(v);
    }

</script>
