@model ICollection<Referral>

@{ 
    string userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;
    var host = Context.Request.Host;


}

@*<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=224514934765227&autoLogAppEvents=1"></script>

<section>
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-9">
                    <div class="card">
                        <div class="card-header">
                            <strong>Whoever Sign-Up using this Referral Link Both User will get @Admin.referralReward Coins as Referral Reward. </strong>
                        </div>
                        <div class="card-body card-block">
                          

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="email-input" class=" form-control-label">Referral Link: </label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                       
                                        <input type="text" id="myInput" onclick="myFunction();" class="form-text" value="https://@host/Account/Register?referral=@userId" />
                                    </div>
                                </div>
                               

                                <div class="fb-share-button" data-href="https://www.gravitycashonline.com/Account/Register?referral=@userId" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.gravitycashonline.com%2FAccount%2FRegister%3Freferral%3D@(userId)&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share Referral</a></div>

                               

                            



                        </div>

                    </div>







                </div>
            </div>
        </div>
    </div>
</section>


<script>
    function myFunction() {
        var copyText = document.getElementById("myInput");
        copyText.select();
        document.execCommand("copy");
        alert("Copied the text: " + copyText.value);
    }

   
</script>*@



    <div class="container-fluid">
        <div class="page-header">

            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-send bg-dark"></i>
                        <div class="d-inline">
                            <h5> Send Invitation</h5>
                            <span>Send invitation and get free coins</span>
                            </br>
                            </br>
                            <hr>
                            <h5>Referral Link : <span><a href="https://@host/Account/Register?referral=@userId" target="_blank" style="color: #008aff;">https://@host/Account/Register?referral=@userId</a></span> </h5>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                        <ol class="breadcrumb">

                            <li class="breadcrumb-item">

                            </li>

                        </ol>
                    </nav>
                </div>
            </div>

        </div>


        <!--Account Balance -->
        <div class="row clearfix">

            <div class="col-sm-9">
                <div class="card">


                    <div class="card-body">
                        <form class="forms-sample" method="post" action="">

                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control" placeholder="Email Address" name="email">
                                <span class="input-group-append">
                                    <input type="submit" class="file-upload-browse btn btn-primary" value="Send Invitation">
                                </span>
                            </div>


                        </form>
                    </div>

                </div>
            </div>


        </div>

        <!--Account Balance End -->



        <div class="row">
            <div class="col-sm-9">
                <div class="card">
                    <div class="card-header d-block">
                        <h3>Sent Invitation List</h3>
                    </div>
                    <div class="card-body">
                        <div class="dt-responsive">
                            <table id="table" class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Email</th>
                                        <th>Send Date</th>
                                        <th>Invitation</th>
                                        <th>Status</th>
                                        <th>Bonus</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int  i = 0; }
                                @foreach(var item in Model) {
                                    i++;

                                    <tr>
                                        <td>@i</td>
                                        <td>@item.Email</td>
                                        <td>@item.CreationDate</td>

                                        <td class="text-center">Sent</td>
                                        <td class="text-center">@item.Status</td>
                                        <td class="text-center">@item.Bonus</td>

                                    </tr>
                                    }

                                    @*<tr>
                                        <td>2</td>
                                        <td>email@domain.com</td>
                                        <td>2019-04-25 03:56:47</a></td>
                                        <td class="text-center">Verified</td>
                                        <td class="text-center">Active</td>
                                        <td class="text-center">Success</td>

                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td>email@domain.com</td>
                                        <td>2019-04-25 03:56:47</a></td>
                                        <td class="text-center">Verified</td>
                                        <td class="text-center">Active</td>
                                        <td class="text-center">Success</td>

                                    </tr>

                                    <tr>
                                        <td>4</td>
                                        <td>email@domain.com</td>
                                        <td>2019-04-25 03:56:47</a></td>
                                        <td class="text-center"><a class="file-upload-browse btn btn-primary">Resend</a></td>
                                        <td class="text-center">Unverified</td>
                                        <td class="text-center">Pending</td>

                                    </tr>

                                    <tr>
                                        <td>5</td>
                                        <td>email@domain.com</td>
                                        <td>2019-04-25 03:56:47</a></td>
                                        <td class="text-center">Verified</td>
                                        <td class="text-center">Active</td>
                                        <td class="text-center">Success</td>

                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>email@domain.com</td>
                                        <td>2019-04-25 03:56:47</a></td>
                                        <td class="text-center">Verified</td>
                                        <td class="text-center">Active</td>
                                        <td class="text-center">Success</td>

                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>email@domain.com</td>
                                        <td>2019-04-25 03:56:47</a></td>

                                        <td class="text-center"><a class="file-upload-browse btn btn-primary">Resend</a></td>
                                        <td class="text-center">Unverified</td>
                                        <td class="text-center">Pending</td>

                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>email@domain.com</td>
                                        <td>2019-04-25 03:56:47</a></td>
                                        <td class="text-center"><a class="file-upload-browse btn btn-primary">Resend</a></td>
                                        <td class="text-center">Unverified</td>
                                        <td class="text-center">Pending</td>

                                    </tr>*@




                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>


                <!-- Language - -->
            </div>
        </div>
    </div>


