@model Gravity.Models.Package

@{ 
    var amount = Model.PriceInUSD;
    var coin = (1 / Admin.CoinPriceUSD) * amount;
			var bonus = (coin * Model.ExtraCoinPercentage)/100;
}

<div class="container-fluid">
    <div class="page-header">

        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="ik ik-credit-card bg-dark"></i>
                    <div class="d-inline">
                        <h5> Buy Coin </h5>
                        <span>Buy Gravity Cash (ICO) </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <nav class="breadcrumb-container" aria-label="breadcrumb">
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item">

                        </li>

                    </ol>
                </nav>
            </div>
        </div>

    </div>


    <!--Account Balance --><div class="row clearfix">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a href="#">
                <div class="widget bg-dark">


                    <div class="widget-body">

                        <div class="d-flex justify-content-between align-items-center">

                            <div class="state">
                                <h6>@Model.ExtraCoinPercentage % Extra Coin</h6>
                                <h2>@Model.PriceInUSD USD</h2>
                                <span style="color: greenyellow;"> GVCH @@ @Admin.CoinPriceUSD USD</span>
                            </div>

                            <div class="icon">
                                <img src="~/demo/img/logo/gch-white-logo.png" style="max-width: 50px;">
                            </div>

                        </div>
                    </div>
                </div>
            </a>
        </div>



    </div>

    <!--Account Balance End -->

    <div class="row">
        <div class="col-md-6">
            <div class="card" style="min-height: 484px;">
                <div class="card-header"><h3>Buy (GVCH)</h3></div>

                <div class="card-body">
                    @using (Html.BeginForm(FormMethod.Post, new { @class = "forms-sample" }))
                    {

                        <div class="form-group">
                            <label for="exampleSelectGender">Payment Type</label>
                            <select class="form-control" id="code" name="code">
                                <option value="BTC">Bitcoin</option>
                                <option value="ETH">Ethereum</option>
                                @*<option value="LTCT"> LiteCoin TestNet</option>*@
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1"> Amount (USD)</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" value="@Model.PriceInUSD" readonly="readonly">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputConfirmPassword1">Total Graviy Coin (GVCH) </label>
                            <input type="text" class="form-control" id="exampleInputConfirmPassword1" value="@coin" readonly="readonly">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Bonus (GVCH)</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" value="@bonus" readonly="readonly">
                        </div>

                        <button type="button" onclick="func(@Model.Id)" class="btn btn-primary mr-2">Buy</button>

                    }
                </div>

            </div>
        </div>
    </div>







</div>

<script>
    function func(id){
        window.location.href = '/Payment/BuyPackage?pkgId=' + id + '&code=' + $('#code').val();
    }
</script>
